.homepage {
    // Hero Section
    .hero-section {
        background-image: url('../images/hero-bkg.jpg');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;

        .section-main {
            width: 100%;

            .small-title {
                font-family: $secondary-font;
                font-weight: 700;
                margin-bottom: 0;
                text-align: center;
                line-height: 1;
                color: white;
                text-transform: uppercase;
                font-size: 2.5em;
            }

            .title {
                font-family: $secondary-font;
                font-weight: 700;
                margin-bottom: 0;
                text-align: center;
                line-height: 1;
                color: white;
                text-transform: uppercase;
                font-size: 4em;
            }

            .text {
                margin-top: 30vh;
                font-family: $secondary-font;
                font-weight: 600;
                margin-bottom: 0;
                text-align: center;
                line-height: 1;
                color: white;
                font-size: 1.5em;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    height: 6vh;
                    width: 3px;
                    left: 50%;
                    bottom: 4vh;
                    transform: translateX(-50%);
                    background: white;
                }
            }
        }
    }

    // Service Section
    .services-section {
        .services {
            display: flex;
            margin: 0 -15px;

            .service {
                position: relative;
                width: 25%;
                height: 100vh;
                background-color: #000;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: width 0.5s ease-out;
                position: relative;

                &:first-child {
                    background-image: url('../images/service-1.jpg');
                }

                &:nth-child(2) {
                    background-image: url('../images/service-2.jpg');
                }

                &:nth-child(3) {
                    background-image: url('../images/service-3.jpg');
                }

                &:nth-child(4) {
                    background-image: url('../images/service-4.jpg');
                }

                &:nth-child(5) {
                    background-image: url('../images/service-5.jpg');
                }

                &::after {
                    content: "";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: change-color($color: $secondary-color, $alpha: 0.5);
                    transform-origin: center;
                    transform: scaleX(0);
                    transition: transform 0.3s ease-in-out;
                }

                a {
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                    height: 100%;
                    width: 100%;

                    p {
                        height: 100%;
                        margin: 0;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(180deg);
                        font-family: $secondary-font;
                        font-weight: 500;
                        font-size: 2.3em;
                        color: change-color($color: white, $alpha: 0.5);
                        writing-mode: vertical-rl;
                        text-orientation: mixed;
                        text-align: center;
                        z-index: 2;
                        transition: font-size 0.3s ease-in-out;
                    }
                }

                &:hover {
                    width: 30%;

                    &::after {
                        transform: scaleX(1)
                    }

                    a {
                        p {
                            font-size: 2.7em;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    // Why Choose Section
    .why-choose-section {
        position: relative;
        padding: 50px 40px;

        .bkg {
            height: 100%;
            width: 100%;
            background-image: url('../images/why-choose-bkg.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }

        .heading {
            margin-top: 10vh;
            text-align: center;
            color: #fff;
            margin-bottom: 20vh;

            .think-to-share {
                font-family: $secondary-font;
                font-size: 1.8em;
                font-weight: 400;
                margin-bottom: 0;
            }

            h2 {
                font-family: $secondary-font;
                font-weight: 700;
                font-size: 4em;
                text-transform: uppercase;
            }
        }

        .text {
            text-align: center;

            .h3 {
                font-family: $secondary-font;
                font-weight: 700;
                font-size: 2em;
                color: #fff;

                span {
                    color: $primary-color;
                }
            }

            p {
                width: 50%;
                margin: 0 auto;
                color: #c5c5c5;
                font-family: $primary-font;
                font-weight: 400;
                font-size: 1.2em;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            a {
                display: inline-block;
                font-family: $primary-font;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                font-size: 1.25em;
                text-decoration: none;
                padding: 10px 40px;
                border: 2px  solid #fff;
                border-top: none;
                border-bottom: none;
                position: relative;
                margin: 0 10px;

                &::first-child {
                    margin-left: 0;
                }

                &::last-child {
                    margin-right: 0;
                }

                .bdr {
                    display: block;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                }

                .bdr1 {
                    top: 0;
                    left: 0;
                    width: 64%;
                    transition: all .3s ease-in;
                }

                .bdr2 {
                    top: 0;
                    right: 0;
                    width: 30%;
                    transition: all .3s ease-in;
                }

                .bdr3 {
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    transition: all .3s ease-in;
                }

                .bdr4 {
                    bottom: 0;
                    right: 0;
                    width: 64%;
                    transition: all .3s ease-in;
                }

                &:hover {
                    .bdr1 {
                        width: 30%;
                    }
                    
                    .bdr2 {
                        width: 64%;
                    }

                    .bdr3 {
                        width: 64%;
                    }
                    
                    .bdr4 {
                        width: 30%;
                    }
                }
            }
        }
    }

    // Projects Section
    .projects-section {
        position: relative;
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        overflow: hidden;

        .section-bkg {
            display: flex;
            flex-wrap: nowrap;
            position: absolute;
            height: 100%;
            width: 100%;
            transition: transform 0.5s ease-out;

            .bkg {
                flex: 0 0 100%;
                background-image: url('../images/project-section-1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                display: none;
                transition: display 0.5s ease-in;
            }
        }

        .section-main {
            display: flex;
            flex-wrap: nowrap;
            transform: translateX(10%);

            .slide {
                flex: 0 0 80%;
                position: relative;
                overflow: hidden;

                svg {
                    width: 100%;
                    transition: all 0.11s ease-in-out;

                    path {
                        fill: transparent;
                    }

                    text {
                        font-family: $primary-font;
                        font-weight: 900;
                        font-size: 36.25px;
                        fill: change-color($color: #fff, $alpha: 0.3);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    // Category Section
    .category-section {
        background: url('../images/categories/bkg.jpg');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        padding: 20px 0;
        display: flex;
        align-items: center;

        .holder {
            > .title {
                font-family: $secondary-font;
                font-weight: 700;
                font-size: 4em;
                color: #fff;
                text-align: center;
                margin-bottom: 30px;
            }
    
            .container-main {
                width: 80%;
                margin: 0 auto;
            }
            
            .categories {
                .category {
                    .inner {
                        border: 2px solid #fff;
                        border-radius: 1.5em;
                        padding: 2em 0.8em;
                        transition: all 0.3s ease-in;
                        cursor: pointer;
    
                        .icon {
                            width: 40%;
                            fill: $primary-color;
                            display: flex;
                            margin: 0 auto;
                            margin-bottom: 15px;
                        }
    
                        .title {
                            font-family: $secondary-font;
                            font-weight: 700;
                            text-align: center;
                            margin-bottom: 15px;
                            font-size: 1.7em;
                            color: #fff;
                        }
    
                        .text {
                            text-align: center;
                            font-family: $primary-font;
                            font-size: 0.9em;
                            font-weight: 400;
                            color: #c5c5c5;
                            margin-bottom: 0;
                        }
                    }
    
                    &:hover {
                        .inner {
                            background-color: #fff;
                            transform: scale(1.03);
                            box-shadow: 0 0 20px 12px #ffffff40;
    
                            .icon {
                                fill: $secondary-color;
                            }
                            
                            .title {
                                color: $secondary-color;
                            }
    
                            .text {
                                color: #000;
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }

    // Blog Section
    .blog-section {
        background-image: url('../images/blog-section/bkg.jpg');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;

        .title {
            width: 100%;
            font-family: $secondary-font;
            font-weight: 700;
            text-align: center;
            font-size: 3em;
            color: #fff;
            margin-bottom: 10vh;
        }

        .blog {
            .content-side {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .meta {
                    font-family: $primary-font;
                    font-weight: 400;
                    color: #fff;
                    font-size: 1.5em;
                    margin-bottom: 5px;
                }

                .blog-title {
                    font-family: $primary-font;
                    font-weight: 900;
                    color: $primary-color;
                    text-transform: uppercase;
                    font-size: 2.6em;
                }

                .excerpt {
                    font-family: $primary-font;
                    font-weight: 400;
                    color: #c5c5c5;
                }
            }

            .image-side {
                .img-container {
                    display: flex;
                    justify-content: flex-end;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 90%;
                        background-color: $primary-color;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        border-top-left-radius: 10em;
                        border-bottom-left-radius: 10em;
                    }

                    img {
                        width: calc(100% - 10px);
                        border-radius: 5px;
                        position: relative;
                        z-index: 2;
                    }
                }
            }
        }
    }

    // Faq section
    .faq-section {
        background-image: url('../images/faq/bkg.jpg');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;

        .title {
            width: 100%;
            font-family: $secondary-font;
            font-weight: 700;
            text-align: center;
            font-size: 3em;
            color: #fff;

            span {
                color: $primary-color;
            }
        }

        .faqs {
            width: 60%;
            margin: 0 auto;
            margin-top: 80px;

            .faq {
                .question {
                    text-align: center;
                    color: #fff;
                    font-family: $secondary-font;
                    font-weight: 500;
                    font-size: 1.5em;
                    margin-bottom: 20px;
                }

                .answer {
                    text-align: center;
                    color: #fff;
                    font-family: $primary-font;
                    font-weight: 400;
                    font-size: 0.9em;
                }
            }
        }
    }

    // Testimonial Section
    .testimonial-section {
        background-image: url('../images/testimonial/bkg.jpg');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-top: 19vh;

        .title {
            width: 100%;
            font-family: $secondary-font;
            font-weight: 700;
            text-align: center;
            font-size: 3em;
            color: #fff;
            margin-bottom: 30px;

            span {
                color: $primary-color;
            }
        }

        .testimonials {
            display: flex;

            .testimonial {
                width: 25%;
                padding: 0 15px;
                position: relative;

                .inner {
                    background: #fff;
                    border-radius: 5px;
                    padding: 20px;

                    .icon {
                        font-size: 2.5em;
                        width: 100%;
                        text-align: center;
                        padding-top: 30px;
                        padding-bottom: 20px;
                        color: $secondary-color;
                        position: relative;

                        // &::after {
                        //     content: "";
                        //     width: 40%;
                        //     height: calc(100% + 18px);
                        //     // background: change-color($color: $secondary-color, $alpha: 0.17);
                        //     position: absolute;
                        //     top: -20px;
                        //     left: 50%;
                        //     transform: translateX(-50%);
                        //     background: url('../images/testimonial/icon-bkg.png');
                        // }

                        &::before {
                            position: relative;
                            z-index: 2;
                        }
                    }


                    .icon-bkg {
                        position: absolute;
                        width: calc( 35% + 3vw );
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .text {
                        font-size: 14px;
                        font-family: $primary-font;
                        font-weight: 400;
                        text-align: center;
                        color: #83868c
                    }

                    .name {
                        font-family: $secondary-font;
                        font-weight: 700;
                        font-size: 0.9em;
                        color: $secondary-color;
                        text-align: center;
                        margin-bottom: 0;
                    }

                    .location {
                        font-family: $secondary-font;
                        font-weight: 400;
                        font-size: 0.8em;
                        color: $secondary-color;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // Our Management Section
    .our-management-section {
        background-image: url('../images/our-management/bkg.jpg');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;

        .title {
            width: 100%;
            font-family: $secondary-font;
            font-weight: 700;
            text-align: center;
            font-size: 3em;
            color: #fff;
            margin-bottom: 30px;
            margin-bottom: 10px;
        }

        .small-title {
            width: 100%;
            font-family: $primary-font;
            font-weight: 400;
            text-align: center;
            color: #c5c5c5;
        }

        .section-main {
            margin-top: 40px;

            $gap: 30px;

            @mixin person-hover {
                background: $primary-color;
                color: #fff;
                box-shadow: 0 0 18px 10px change-color($color: $primary-color, $alpha: 0.3);
            }

            .person {
                cursor: pointer;

                .figure {
                    width: calc(100% - #{$gap});
                }

                .description-center {
                    position: relative;
                    width: 100%;
                    height: 0;

                    .description {
                        position: absolute;
                        top: 50%;
                        left: $gap;
                        transform: translateY(-50%);
                        width: calc(100% - #{$gap});
                        background-color: #fff;
                        padding: 15px 30px;
                        font-family: $secondary-font;
                        color: $secondary-color;
                        transition: all 200ms ease-in-out;
                        transition-property: background, color, box-shadow;
    
                        h5 {
                            font-size: 1.2em;
                            margin-bottom: 0;
                            font-weight: 700;
                        }
    
                        p {
                            margin-bottom: 0;
                            font-weight: 400;
                        }

                        &:hover {
                            @include person-hover;
                        }
                    }
                }

                &:hover {
                    .description-center {
                        .description {
                            @include person-hover;
                        }
                    }
                }
            }
        }
    }

    // Contact Us section
    .contact-us-section {
        background-image: url('../images/contact-us-section/bkg.jpg');
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;

        .container-fluid {
            padding: 0 10%;
        }

        .title {
            width: 100%;
            font-family: $secondary-font;
            font-weight: 700;
            text-align: left;
            font-size: 3em;
            color: #fff;
            margin-bottom: 30px;
            margin-bottom: 10px;

            span {
                color: $primary-color;
            }
        }

        .small-title {
            width: 100%;
            font-family: $primary-font;
            font-weight: 400;
            text-align: left;
            color: #c5c5c5;
            padding: 0 10px;
        }

        .section-main {
            form {
                display: flex;
                flex-wrap: wrap;

                .form-group {
                    padding: 0 10px;

                    input, 
                    select,
                    textarea {
                        width: 100%;
                        padding: 10px;
                        border-radius: 5px;
                        border: 2px solid transparent;
                        transition: all 0.3s ease-in-out;

                        &:focus {
                            outline: none;
                            border-color: $primary-color;
                        }
                    }
                }

                .btn-container {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    padding: 0 10px;

                    button {
                        background: transparent;
                        border: none;
                        padding: 5px 0;
                        color: #fff;
                        font-family: $primary-font;
                        font-weight: 700;
                        text-transform: uppercase;
                        font-size: 1.2em;
                        position: relative;
                        transition: all 0.3s ease-in;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 54%;
                            height: 3px;
                            background: #fff;
                            transition: all 0.3s ease-in;
                        }

                        &:hover {
                            color: $primary-color;

                            &::after {
                                background: $primary-color;
                                // left: auto;
                                // right: 0;
                                width: 100%;
                            }
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }

            }
        }
    }
}